<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859380255487-4v2daemla5sld4vtkjargeugodq84go2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859380255487-4v2daemla5sld4vtkjargeugodq84go2</string>
	<key>API_KEY</key>
	<string>AIzaSyBjJVDEExeUPo5QSxbmyfyJVmRdu5uAjZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>859380255487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sbursali.thisTime2</string>
	<key>PROJECT_ID</key>
	<string>moodtalk-66b43</string>
	<key>STORAGE_BUCKET</key>
	<string>moodtalk-66b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859380255487:ios:68b3f91090b4fc26eedaca</string>
	<key>DATABASE_URL</key>
	<string>https://moodtalk-66b43.firebaseio.com</string>
</dict>
</plist>